# Игнорировать все файлы в build/, кроме .gitignore
build/*
!build/debug/.gitignore
!build/release/.gitignore

# Игнорировать скомпилированные файлы
*.o
*.out
*.exe

# Игнорировать временные файлы
*.swp
*.tmp
